.jumbotron{
    background-color: aquamarine;
    margin-top: 15px;
}
.fooster{
    background-color: greenyellow
}

.margencentrar{
    padding: 30px 60px 30px 60px;

}

.card-columns { 
      column-count: 3;   
    }

.img-estilo{
    height: 500px;
    width: 80%;
    
}